@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import './RWD';

.font-oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}


html{
    font-family: "Noto Sans TC",'Roboto',sans-serif;
    font-size: 2.5vw;
    font-weight: 300;

    @media (min-width: 580px) {
        //font-size: 13px;
    }
    
    @include pc-s {
        font-size: 11px;
    }

    @include pc-m {
        font-size: 12px;
    }

    @include pc-l {
        font-size: 14px;
    }

    @include pc-max {
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
    }

    img {
        display: block;
        width: 100%;

        &.cover {
            height: 100%;
            object-fit: cover;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    body {
        width: 100%;

        &:has(.comming_soon){
            background-color: #0E8347;
        }
    }
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    transition: all 0.5s ease-in-out;
    font-size: 3vh;

    .logo {
        width: 40%;
        opacity: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    nav {
        // 預設隱藏
        //opacity: 0;
        transition: all .5s;
        width: 100%;
        height: 100vh;
        background-color: #4F83C2;
        position: fixed;
        top: 0;
        right: -100%;

        &.open {
            right: 0;
        }

        .nav_list {
            padding: 10% 10%;
            
            .nav_item {
                line-height: 2.5;
                color: #fff;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);

            }
        }
        .share_list {
            padding: 5% 10%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1em;

            li {
                width: 2em;
            }
        }
        

        @include pc-m {
            right: auto;
            width: auto;
            height: auto;
            background-color: transparent;
            position: initial;

            .nav_list {
                padding: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                width: max-content;
                transition: left 0.2s ease-out;
    
                .nav_item {
                    cursor: pointer;
                    color: #333;
                    font-weight: 500;
                    line-height: 2;
                    border: 0;

                    &.active {
                        padding: 0 1em;
                        border-bottom: 3px solid #4F83C2;
                    }
                }
            }
    
            .share_list {
                padding: 0;
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
                
            }
        }
    }

    .hem {
        position: relative;
        z-index: 999;
        width: 1.5em;
        aspect-ratio: 1/1;

        @include pc-m {
            width: 1.5em;
        }


        &::before,
        &:after {
            position: absolute;
            content: "";
            width: 80%;
            height: 5px;
            border-radius: 99em;
            background-color: #4F83C2;
            left: 10%;
            top: 25%;
        }
        &:after {
            top: 60%;
        }

        
        &.open {

            &~nav {
                right: 0;
            }

            &::before,
            &:after {
                background-color: #fff;
                transform: rotate(45deg);
                top: 50%;
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @include pc-s {        

        .logo {
            width:30%;
        }
    }

    @include pc-m {
        padding: 1em 5%;
        font-size: 1em;

        .logo {
            width: 15%;
        }

        .hem {
            display: none;
        }
        nav {
            font-size: 1.1em;
            .nav_list {
                gap: 2em;
            }
        }
        
    }

    @include pc-l {
        .logo {
            aspect-ratio: 269 / 32;
            width:15%;
        }
        
    }

    &.show {
        nav {
            opacity: 1;
        }

        
    }
    &.show.scroll {
        background-color: #fff;

        .logo {
            opacity: 1;
        }

        .nav_list {
            left: 53%;
        }
        
    }
}

footer {
    background-color: #0E8347;
    color: #fff;
    padding: 3em 0;
    text-align: center;
    font-size: 1em;

    ul {
        li {
            line-height: 2.5;
        }
    }

    @include pc-s {
        font-size: 0.8em;
    }
}


section {
    position: relative;

    .section_title {
        text-align: center;
        font-size: 3.3em;
        font-weight: 500;
        text-transform: uppercase;
    }

    >.inner {
        width: 90%;
        margin: 0 auto;

        @include pc-m {
            width: 80%;
        }
    }
    
}

.video {
    position: relative;

    video {
        width: 100%;
        cursor: pointer;

        &.pause {
            &~.mask {
                opacity: 1;
                .play {
                    display: block;
                }
                .pause {
                    display: none;
                }
            }
        }

        &:hover {
            &~.mask {
                .play,
                .pause {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;

        .play,
        .pause {
            position: absolute;
            width: 15%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(160deg) brightness(100%) contrast(100%);
            opacity: 0.5;
            
            img {
                transition: transform 0.2s ease-out;
            }
        }

        .play {
            display: none;
        }
        .pause {
            display: none;
        }

        
    }
}