@charset "UTF-8";
.index_slider {
  width: 100%;
}
.index_slider .swiper-container {
  width: 100%;
  height: calc(100vh - 30vw);
  overflow: hidden;
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
  --swiper-pagination-bottom: 5%;
}
.index_slider .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.index_slider .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.index_slider .swiper-container .swiper-button::after {
  font-size: 4em;
}
@media all and (min-width: 1040px) {
  .index_slider .swiper-container .swiper-button::after {
    font-size: 5em;
  }
}
.index_slider .swiper-container .swiper-button.swiper-button-next {
  right: 3%;
}
@media all and (min-width: 769px) {
  .index_slider .swiper-container .swiper-button.swiper-button-next {
    right: 5%;
  }
}
.index_slider .swiper-container .swiper-button.swiper-button-prev {
  left: 3%;
}
@media all and (min-width: 769px) {
  .index_slider .swiper-container .swiper-button.swiper-button-prev {
    left: 5%;
  }
}
@media all and (min-width: 1040px) {
  .index_slider .swiper-container {
    height: calc(100vh - 3em);
  }
}

.bg_item {
  pointer-events: none;
}

.banner_slide {
  overflow: hidden;
  padding: 20% 0% 15%;
  background-color: var(--green_lite);
  mask: url("../img/index/banner/background_grass.svg") no-repeat top center/cover;
  margin-top: -5%;
}
.banner_slide:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: url("../img/texture_100.png") top left/100px;
  mix-blend-mode: multiply;
}
.banner_slide .bg_item {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner_slide .bg_item > div {
  position: absolute;
}
.banner_slide .bg_item .robot {
  width: 10%;
  bottom: 7%;
  left: 17%;
  z-index: 3;
  animation: robot_move 7s ease-out infinite;
}
@media all and (min-width: 1040px) {
  .banner_slide .bg_item .robot {
    width: 6%;
    left: 21%;
  }
}
.banner_slide .bg_item .grass_s._01 {
  width: 5%;
  bottom: 5%;
  left: 22%;
  z-index: 4;
}
.banner_slide .bg_item .tree_b._01 {
  width: 3%;
  bottom: 10%;
  right: 23%;
  z-index: 3;
}
.banner_slide .bg_item .tree_b._02 {
  width: 2%;
  top: 20%;
  left: 13%;
  z-index: 3;
}
.banner_slide .bg_item .tree_s._01 {
  width: 2.5%;
  top: 20%;
  right: 5%;
}
.banner_slide .bg_item .tree_y._01 {
  width: 3%;
  top: 17%;
  left: 3%;
}
.banner_slide .bg_item .tree_y._02 {
  width: 1.7%;
  top: 10%;
  right: 35%;
}
.banner_slide .bg_item .cloud._01 {
  width: 3%;
  top: 15%;
  right: 15%;
}
@keyframes robot_move {
  0% {
    transform: translateX(-50%) scaleX(1);
  }
  25% {
    transform: translateX(50%) scaleX(1);
  }
  30% {
    transform: translateX(40%) scaleX(1);
  }
  35% {
    transform: translateX(50%) scaleX(1);
  }
  60% {
    transform: translateX(50%) scaleX(1);
  }
  60.1% {
    transform: translateX(50%) scaleX(-1);
  }
  80% {
    transform: translateX(-50%) scaleX(-1);
  }
  100% {
    transform: translateX(-50%) scaleX(-1);
  }
}
.banner_slide .inner {
  width: 200%;
  left: -50%;
  overflow: visible;
}
.banner_slide .inner.only_one {
  width: 100%;
  left: 0%;
}
.banner_slide .inner.only_one .slider_wrap .banner_item {
  width: 80%;
  margin: 0 auto;
}
@media all and (min-width: 1040px) {
  .banner_slide .inner.only_one .slider_wrap .banner_item {
    width: 60%;
  }
}
.banner_slide .inner.only_one ~ .swiper-button-prev, .banner_slide .inner.only_one ~ .swiper-button-next {
  display: none;
}
.banner_slide .inner .slider_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}
.banner_slide .inner .slider_wrap .banner_item {
  width: 30%;
  padding: 0 2%;
  aspect-ratio: 2/1;
  --border_color: #e5f876;
  filter: drop-shadow(5px 0 0 var(--border_color)) drop-shadow(-5px 0 0 var(--border_color)) drop-shadow(0 5px 0 var(--border_color)) drop-shadow(0 -5px 0 var(--border_color));
  transition: transform 0.3s ease-out;
}
.banner_slide .inner .slider_wrap .banner_item img {
  mask: url("../img/index/banner/slide_item_mask.svg") no-repeat center center/100%;
}
.banner_slide .inner .slider_wrap .banner_item.swiper-slide-active {
  transform: translateY(0%) rotate(0deg) scale(1.2);
}
.banner_slide .inner .slider_wrap .banner_item.swiper-slide-next {
  transform: translateY(25%) rotate(15deg);
  filter: blur(3px);
  opacity: 0.9;
}
.banner_slide .inner .slider_wrap .banner_item.swiper-slide-prev {
  transform: translateY(25%) rotate(-15deg);
  filter: blur(3px);
  opacity: 0.9;
}
.banner_slide .inner .swiper-pagination {
  bottom: -25%;
}
.banner_slide .inner .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  vertical-align: middle;
  width: 1.5em;
  height: 0.4em;
  border-radius: 99em;
  background-color: #fff;
  opacity: 0.7;
  transition: all 0.3s ease-out;
}
.banner_slide .inner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  overflow: hidden;
  background-color: antiquewhite;
  margin: 0 0.5em;
  width: 2em;
  height: 0.5em;
  opacity: 1;
}
.banner_slide .inner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  left: 0;
  background-color: var(--green_dark);
  animation: slide_process 5s linear both;
}
@keyframes slide_process {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.banner_slide .swiper-button-prev,
.banner_slide .swiper-button-next {
  width: 8%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 99em;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(18, 12, 2, 0.3);
  transition: all 0.1s ease-out;
  top: 55%;
}
.banner_slide .swiper-button-prev:after,
.banner_slide .swiper-button-next:after {
  color: var(--green_dark);
  font-size: 2.5vw;
  font-weight: 700;
}
.banner_slide .swiper-button-prev:hover,
.banner_slide .swiper-button-next:hover {
  transform: scale(1.3);
  background-color: var(--green_dark);
}
.banner_slide .swiper-button-prev:hover::after,
.banner_slide .swiper-button-next:hover::after {
  color: #fff;
}
.banner_slide .swiper-button-prev {
  left: 13%;
}
.banner_slide .swiper-button-prev:after {
  padding-right: 5%;
}
.banner_slide .swiper-button-next {
  right: 13%;
}
.banner_slide .swiper-button-next:after {
  padding-left: 5%;
}
@media all and (min-width: 1040px) {
  .banner_slide {
    padding: 15% 0% 8%;
    margin-top: -5%;
    mask-size: 100%;
  }
  .banner_slide .inner {
    width: 170%;
    left: -35%;
  }
  .banner_slide .inner .swiper-pagination {
    bottom: -15%;
  }
  .banner_slide .swiper-button-prev,
  .banner_slide .swiper-button-next {
    width: 5%;
  }
  .banner_slide .swiper-button-prev {
    left: 19%;
  }
  .banner_slide .swiper-button-next {
    right: 19%;
  }
}

.grass_bg {
  background-color: var(--green_lite);
  padding: 10% 5%;
  margin-top: -2px;
}
@media all and (min-width: 1040px) {
  .grass_bg {
    padding: 5%;
  }
}
.grass_bg:before {
  position: absolute;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/texture_100.png") top left/100px;
  mix-blend-mode: multiply;
}
.grass_bg .inner {
  position: relative;
  z-index: 1;
  width: 90%;
  text-align: justify;
}
.grass_bg .inner .title_icon {
  width: 40%;
  margin: 0 auto;
}
.grass_bg .inner .title {
  margin: 2em auto;
}
.grass_bg .inner .title h2 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.3;
  color: #fff;
}
.grass_bg .inner .title h2 br {
  display: none;
}
@media all and (min-width: 769px) {
  .grass_bg .inner .title h2 br {
    display: block;
  }
}
.grass_bg .inner .content {
  margin: 2em auto;
}
.grass_bg .inner .content p {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  line-height: 2.5;
  letter-spacing: 0.05em;
}
@media all and (min-width: 1040px) {
  .grass_bg .inner .content p span {
    display: block;
  }
}
.grass_bg .inner .content p span br {
  display: none;
}
@media all and (min-width: 1040px) {
  .grass_bg .inner .content p span br {
    display: none;
  }
}
.grass_bg .inner .content p span strong {
  position: relative;
  color: var(--green_dark);
  font-weight: 400;
  margin: 0 0.1em;
}
.grass_bg .inner .content p span strong::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  bottom: -0.3em;
  left: 0;
  border-radius: 99em;
  background-color: var(--green_dark);
}
@media all and (min-width: 769px) {
  .grass_bg .inner {
    width: 76%;
    text-align: center;
  }
  .grass_bg .inner .title_icon {
    width: 20%;
  }
}
.grass_bg.origin .bg_item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.grass_bg.origin .bg_item > div {
  position: absolute;
}
.grass_bg.origin .bg_item .bg_grass {
  width: 18%;
  top: -4%;
  right: 0%;
  mix-blend-mode: multiply;
}
.grass_bg.origin .bg_item .grass_s._01 {
  width: 3%;
  bottom: 5%;
  right: 22%;
  z-index: 4;
}
.grass_bg.origin .bg_item .tree_b._01 {
  width: 3%;
  bottom: 10%;
  right: 23%;
  z-index: 3;
}
.grass_bg.origin .bg_item .tree_b._02 {
  width: 2%;
  top: 20%;
  left: 13%;
  z-index: 3;
}
.grass_bg.origin .bg_item .tree_s._01 {
  width: 2%;
  top: 40%;
  left: 3%;
}
.grass_bg.origin .bg_item .tree_y._01 {
  width: 1.7%;
  bottom: 17%;
  left: 20%;
}
.grass_bg.origin .bg_item .tree_y._02 {
  width: 2.5%;
  bottom: 23%;
  right: 4%;
}
.grass_bg.origin .bg_item .cloud._01 {
  width: 3%;
  top: 5%;
  left: 7%;
  mix-blend-mode: hard-light;
  opacity: 0.7;
}
.grass_bg.origin .bg_item .cube {
  width: 1.5%;
  right: 7%;
  bottom: 0%;
  mix-blend-mode: multiply;
}
.grass_bg.origin .bg_item .man_R {
  width: 5%;
  right: 12%;
  top: 0%;
}
.grass_bg.origin .bg_item .man_L {
  width: 4%;
  left: 10%;
  bottom: 40%;
}
.grass_bg.origin .inner {
  padding: 0 10%;
  overflow: hidden;
}
.grass_bg.participate {
  padding-bottom: 36%;
}
.grass_bg.participate .bg_item {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.grass_bg.participate .bg_item > div {
  position: absolute;
}
.grass_bg.participate .bg_item .bg_grass {
  width: 120%;
  bottom: 9%;
  left: -5%;
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.grass_bg.participate .bg_item .tree_s._01 {
  width: 2%;
  right: 3%;
  top: 40%;
}
.grass_bg.participate .bg_item .grass_s {
  width: 5%;
  left: -2%;
  top: 15%;
}
.grass_bg.participate .bg_item .talk {
  width: 5%;
  right: 7%;
  top: 35%;
}
.grass_bg.participate .bg_item .cloud {
  width: 3%;
  left: 7%;
  bottom: 50%;
}
.grass_bg.participate .bg_item .chip {
  width: 2%;
  left: 6%;
  top: 7%;
}
.grass_bg.participate .bg_item .cube {
  width: 1.5%;
  left: 10%;
  bottom: 55%;
  mix-blend-mode: multiply;
}
.grass_bg.participate .inner {
  padding: 5% 7%;
  border-radius: 5em;
  background-color: #fff;
}
@media all and (min-width: 1040px) {
  .grass_bg.participate .inner {
    min-width: 800px;
    padding: 5% 0;
  }
}
@media all and (min-width: 1200px) {
  .grass_bg.participate .inner {
    min-width: 960px;
  }
}
@media all and (min-width: 1450px) {
  .grass_bg.participate .inner {
    min-width: 1150px;
  }
}
.grass_bg.participate .inner:after {
  position: absolute;
  content: "";
  width: 5%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 50%);
  background-color: #fff;
  bottom: 0;
  left: 45%;
  transform: translate(0, 90%);
}
.grass_bg.participate .inner .title_icon {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 25%;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 99em;
}
.grass_bg.participate .inner .title_icon img {
  position: absolute;
  width: 40%;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media all and (min-width: 769px) {
  .grass_bg.participate .inner .title_icon {
    width: 13%;
  }
}
.grass_bg.participate .inner .title h2 {
  color: var(--green_dark);
}
.grass_bg.participate .inner .content p {
  color: #333;
}
.grass_bg.participate .inner .CTA_btn {
  cursor: pointer;
  width: 100%;
  margin: 1em auto;
  padding: 0.7em;
  border-radius: 99em;
  color: #fff;
  background-color: var(--purple);
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-align: center;
  transition: all 0.2s ease-out;
  box-shadow: 0 0 0 rgba(18, 12, 2, 0.3);
}
.grass_bg.participate .inner .CTA_btn .arrow {
  position: relative;
  display: inline-block;
  width: 0.45em;
  height: 1em;
  vertical-align: middle;
  transition: right 0.3s ease-out;
  right: 0;
  animation: flash 0.5s ease-in-out alternate-reverse infinite;
}
@keyframes flash {
  0% {
    opacity: 0.5;
    transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(20%) scale(1.1);
  }
}
.grass_bg.participate .inner .CTA_btn:hover {
  background-color: var(--green_dark);
  transform: scale(1.05) translateY(-0.2em);
  box-shadow: 0 0.2em 0 -0.05em rgba(214, 206, 89, 0.7);
}
.grass_bg.participate .inner .CTA_btn:hover .arrow {
  right: -0.5em;
}
@media all and (min-width: 769px) {
  .grass_bg.participate .inner .CTA_btn {
    width: 70%;
    font-size: 3em;
  }
}
.grass_bg.participate .inner .screen {
  position: absolute;
}
.grass_bg.participate .inner .screen._01 {
  width: 12%;
  left: 0%;
  top: -5%;
}
@media all and (min-width: 769px) {
  .grass_bg.participate .inner .screen._01 {
    width: 12%;
    left: -7%;
    top: 25%;
  }
}
.grass_bg.participate .inner .screen._02 {
  width: 15%;
  right: -6%;
  top: 13%;
}
@media all and (min-width: 769px) {
  .grass_bg.participate .inner .screen._02 {
    width: 15%;
    right: -10%;
    top: 12%;
  }
}

.lottery {
  position: relative;
  margin-top: -20%;
  padding: 10% 0 40%;
}
.lottery .bg_item {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: -4%;
  left: 0;
}
.lottery .bg_item > div {
  position: absolute;
}
.lottery .bg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
}
.lottery .bg:before, .lottery .bg:after {
  position: absolute;
  content: "";
  aspect-ratio: 1/1;
  border-radius: 100%;
  width: 300%;
  top: 0;
  left: -100%;
  background-color: #F5F3B2;
}
.lottery .bg:after {
  background: url("../img/texture_100.png") top left/100px;
  mix-blend-mode: multiply;
}
.lottery .girl {
  position: absolute;
  z-index: 9;
  top: -12%;
  width: 40%;
  left: 34%;
  transform: translate3d(50%, 0, 0);
}
.lottery .inner {
  position: relative;
  z-index: 5;
  padding: 0 0 10%;
  overflow: hidden;
}
.lottery .inner .container .lottery_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}
.lottery .inner .container .lottery_detail dt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}
.lottery .inner .container .lottery_detail dt .icon {
  width: 5em;
  margin-right: 1em;
}
.lottery .inner .container .lottery_detail dt .title h2 {
  font-size: 3em;
  font-weight: 600;
  color: var(--green_dark);
}
.lottery .inner .container .lottery_detail dd {
  position: relative;
  padding-left: 1em;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5;
}
.lottery .inner .container .lottery_detail dd .caption {
  color: var(--green_dark);
}
.lottery .inner .container .lottery_detail dd:before {
  content: "．";
  font-weight: 600;
  color: var(--green_dark);
  position: absolute;
  left: 0em;
}
.lottery .inner .container .lottery_detail dd ~ dd {
  margin-top: 1em;
}
.lottery .inner .container .lottery_detail dd.detail_link {
  position: relative;
  width: max-content;
  color: var(--purple);
}
.lottery .inner .container .lottery_detail dd.detail_link a {
  font-size: 1.2em;
}
.lottery .inner .container .lottery_detail dd.detail_link:before {
  position: absolute;
  display: inline-block;
  content: "";
  left: auto;
  right: -1em;
  top: 50%;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid var(--purple);
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg) translateY(-50%);
}
.lottery .inner .container .lottery_detail dd.detail_link:after {
  position: absolute;
  content: "";
  width: calc(100% - 0em);
  height: 3px;
  background-color: var(--purple);
  border-radius: 99em;
  bottom: -0.3em;
  left: 1em;
}
.lottery .inner .container .lottery_prize {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}
.lottery .inner .container .lottery_prize li {
  width: 47%;
}
.lottery .inner .container .lottery_prize li:nth-child(2n) {
  transform: translateY(25%);
}
.lottery .robot {
  position: absolute;
  width: 15%;
  bottom: -3%;
  left: 15%;
  transform: translateY(-140%);
}
@media all and (min-width: 1040px) {
  .lottery .robot {
    left: 19%;
  }
}
.lottery .robot img {
  animation: screen 2s ease-in-out infinite alternate-reverse, shine 3s linear infinite;
}
.lottery .arm {
  position: absolute;
  transform-origin: bottom;
  width: 21%;
  bottom: -3%;
  left: 18%;
  animation: arm 5s ease-in-out infinite;
}
@media all and (min-width: 1040px) {
  .lottery .arm {
    left: 22%;
  }
}
@keyframes arm {
  0% {
    transform: translateX(-10%) rotate(0);
  }
  10% {
    transform: translateX(10%) rotate(0);
  }
  15% {
    transform: translateX(10%) rotate(0);
  }
  18% {
    transform: translateX(10%) rotate(12deg);
  }
  21% {
    transform: translateX(10%) rotate(10deg);
  }
  26% {
    transform: translateX(10%) rotate(12deg);
  }
  50% {
    transform: translateX(10%) rotate(12deg);
  }
  60% {
    transform: translateX(-10%) rotate(0);
  }
  100% {
    transform: translateX(-10%) rotate(0);
  }
}
@keyframes screen {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes shine {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.5;
  }
  6% {
    opacity: 1;
  }
  9% {
    opacity: 0.5;
  }
  12% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  23% {
    opacity: 0.5;
  }
  26% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@media all and (min-width: 769px) {
  .lottery {
    padding: 10% 0 25%;
  }
  .lottery .bg_item {
    top: -10%;
  }
  .lottery .girl {
    top: -22%;
    width: 28%;
    left: 43%;
  }
  .lottery .inner {
    padding: 5% 0;
  }
  .lottery .inner .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .lottery .inner .container .lottery_detail {
    width: 45%;
  }
  .lottery .inner .container .lottery_prize {
    width: 55%;
    margin-top: 0;
    padding-left: 5%;
  }
}
@media all and (min-width: 1040px) {
  .lottery .girl {
    top: -23%;
  }
}

.article {
  margin-top: -30%;
}
.article .overflow {
  background-color: var(--green_lite);
  padding: 40% 0 20%;
  mask: url("../img/index/article_green_background.svg") no-repeat top center/cover;
}
.article .overflow:before {
  position: absolute;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/texture_100.png") top left/100px;
  mix-blend-mode: multiply;
}
.article .bg_item {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.article .bg_item > div {
  position: absolute;
}
.article .bg_item .tree_s._01 {
  width: 2%;
  right: 30%;
  bottom: 15%;
}
.article .bg_item .tree_b._01 {
  width: 3%;
  left: 5%;
  top: 14%;
}
@media all and (min-width: 1040px) {
  .article .bg_item .tree_b._01 {
    width: 1.8%;
    left: 10%;
    top: 11%;
  }
}
.article .bg_item .tree_b._02 {
  width: 2%;
  right: 3%;
  top: 0%;
}
.article .bg_item .tree_y._01 {
  width: 2.2%;
  left: 10%;
  top: 15%;
}
@media all and (min-width: 1040px) {
  .article .bg_item .tree_y._01 {
    width: 1.3%;
    left: 13%;
    top: 12%;
  }
}
.article .bg_item .tree_y._02 {
  width: 2%;
  right: 15%;
  top: 17%;
}
@media all and (min-width: 1040px) {
  .article .bg_item .tree_y._02 {
    right: 35%;
    top: 13%;
  }
}
.article .bg_item .tree_y._03 {
  width: 1.8%;
  left: 5%;
  bottom: 20%;
}
.article .bg_item .tree_y._04 {
  width: 2%;
  right: 10%;
  bottom: 20%;
}
.article .bg_item .grass_s._01 {
  width: 3%;
  right: 2%;
  top: 15%;
}
.article .bg_item .grass_s._02 {
  width: 5%;
  right: -2%;
  bottom: 15%;
}
.article .bg_item .cloud {
  width: 6%;
  left: 55%;
  top: 10%;
  rotate: 10deg;
  mix-blend-mode: hard-light;
  opacity: 0.65;
}
@media all and (min-width: 1040px) {
  .article .bg_item .cloud {
    width: 3%;
    left: 55%;
    top: 10%;
  }
}
.article .bg_item .chip {
  width: 4%;
  right: 8%;
  top: 7%;
  rotate: -8deg;
}
@media all and (min-width: 1040px) {
  .article .bg_item .chip {
    width: 2%;
    right: 8%;
    top: 5%;
    rotate: -8deg;
  }
}
.article .bg_item .cube {
  width: 1.5%;
  left: 3%;
  top: 20%;
  mix-blend-mode: multiply;
}
.article .bg_item .robot {
  width: 10%;
  right: 18%;
  top: 5%;
}
@media all and (min-width: 1040px) {
  .article .bg_item .robot {
    width: 5%;
    right: 20%;
    top: 10%;
  }
}
.article .bg_item .r_hello {
  width: 8%;
  right: 14%;
  top: 3%;
  animation: float 1s ease-in-out alternate-reverse infinite;
}
@media all and (min-width: 1040px) {
  .article .bg_item .r_hello {
    width: 4%;
    right: 18%;
    top: 8%;
  }
}
.article .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.article .inner .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 3em;
}
.article .inner .title .icon {
  width: 5em;
  margin-right: 1em;
}
.article .inner .title h2 {
  font-size: 3em;
  font-weight: 600;
  color: var(--green_dark);
}
.article .inner .articel_slide {
  overflow: visible;
  padding: 0 0%;
  width: 200%;
  margin-left: -50%;
}
.article .inner .articel_slide .slide_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.article .inner .articel_slide .slide_wrap .article_item {
  width: 20%;
  padding: 3%;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.article .inner .articel_slide .slide_wrap .article_item.swiper-slide-prev, .article .inner .articel_slide .slide_wrap .article_item.swiper-slide-next, .article .inner .articel_slide .slide_wrap .article_item.swiper-slide-active {
  opacity: 1;
}
.article .inner .articel_slide .slide_wrap .article_item .photo {
  position: relative;
  aspect-ratio: 390/260;
}
.article .inner .articel_slide .slide_wrap .article_item .photo > img {
  border-radius: 1.5em;
  transition: all 0.2s ease-out;
}
.article .inner .articel_slide .slide_wrap .article_item .photo .category {
  position: absolute;
  background-color: var(--purple);
  border-radius: 99em;
  color: #fff;
  font-size: 1.1em;
  padding: 0.6em 1.5em;
  top: -1.5em;
  right: -0.8em;
  transition: all 0.2s ease-out;
}
.article .inner .articel_slide .slide_wrap .article_item .photo .category:before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  clip-path: polygon(0 0, 100% 0, 0% 60%);
  background-color: var(--purple);
  bottom: -1.4em;
  right: 60%;
}
.article .inner .articel_slide .slide_wrap .article_item .photo .date {
  position: absolute;
  bottom: -1em;
  left: -2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7em;
  height: 7em;
  border-radius: 99em;
  background-color: var(--purple);
  color: #fff;
  border: 0.3em solid var(--green_lite);
  transition: all 0.2s ease-out;
}
.article .inner .articel_slide .slide_wrap .article_item .photo .date .icon {
  width: 80%;
  margin: 0 auto;
  border-radius: 99em;
  border: 2px dashed #fff;
  padding: 1em 1em 1.2em;
}
.article .inner .articel_slide .slide_wrap .article_item .photo .date .ymd {
  text-align: center;
  font-size: 0.9em;
  margin: 0.5em 0;
}
.article .inner .articel_slide .slide_wrap .article_item .article_detail {
  position: relative;
  padding: 1em 2.5em;
  text-align: justify;
}
.article .inner .articel_slide .slide_wrap .article_item .article_detail:before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 115%;
  aspect-ratio: 2/1.7;
  background: url("../img/index/article_back_shapes.svg") no-repeat center center/contain;
  left: 57%;
  top: 50%;
  transform: translate(-50%, -60%);
}
.article .inner .articel_slide .slide_wrap .article_item .article_detail .caption h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--green_dark);
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;
}
.article .inner .articel_slide .slide_wrap .article_item .article_detail .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-top: 1em;
  color: #ffF;
  line-height: 1.5;
}
.article .inner .articel_slide .slide_wrap .article_item:hover {
  transform: scale(1.05);
  opacity: 1;
}
.article .inner .articel_slide .slide_wrap .article_item:hover .photo > img {
  scale: 1.05;
}
.article .inner .articel_slide .slide_wrap .article_item:hover .date {
  transform: scale(0.8);
  left: -3em;
  bottom: -1.5em;
}
.article .inner .articel_slide .slide_wrap .article_item:hover .category {
  top: -2.2em;
  right: -1.5em;
}
.article .inner .controle_btn {
  position: absolute;
  width: 12em;
  height: 5em;
  top: 1%;
  right: 10%;
}
.article .inner .controle_btn .swiper-button-prev,
.article .inner .controle_btn .swiper-button-next {
  width: 4em;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 99em;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(18, 12, 2, 0.3);
  transition: all 0.1s ease-out;
}
.article .inner .controle_btn .swiper-button-prev:after,
.article .inner .controle_btn .swiper-button-next:after {
  color: var(--green_dark);
  font-size: 2em;
  font-weight: 700;
  transition: color 0.1s ease-out;
}
.article .inner .controle_btn .swiper-button-prev:hover,
.article .inner .controle_btn .swiper-button-next:hover {
  transform: scale(1.2);
  background-color: var(--green_dark);
}
.article .inner .controle_btn .swiper-button-prev:hover::after,
.article .inner .controle_btn .swiper-button-next:hover::after {
  color: #fff;
}
.article .inner .controle_btn .swiper-button-prev:after {
  padding-right: 5%;
}
.article .inner .controle_btn .swiper-button-next:after {
  padding-left: 5%;
}
.article .inner .more_article {
  position: relative;
  width: max-content;
  margin: 2em auto 0.5em;
  padding: 0.7em 2.5em 0.8em 1.5em;
  border-radius: 99em;
  border: 2px solid var(--purple);
  background-color: #fff;
  color: var(--purple);
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 1.3em;
  transition: all 0.1s ease-out;
}
.article .inner .more_article .arrow {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translate(0, -50%);
  filter: invert(47%) sepia(91%) saturate(342%) hue-rotate(173deg) brightness(87%) contrast(84%);
  width: 0.5em;
  margin-left: 0.5em;
}
.article .inner .more_article:hover {
  background-color: var(--purple);
  color: #fff;
  border-color: #C6ECF4;
  transform: scale(1.03);
}
.article .inner .more_article:hover .arrow {
  filter: none;
}
@media all and (min-width: 769px) {
  .article {
    margin-top: -20%;
  }
  .article .overflow {
    padding: 22% 0 20%;
  }
  .article .inner .articel_slide {
    width: 140%;
    margin-left: -20%;
  }
  .article .inner .articel_slide .slide_wrap .article_item {
    padding: 2%;
  }
}

.organizers {
  background-color: var(--green_lite);
  padding: 30% 0 10%;
  margin-top: -10%;
}
.organizers:before {
  position: absolute;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/texture_100.png") top left/100px;
  mix-blend-mode: multiply;
}
.organizers .bg {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 5/6;
  overflow: hidden;
}
.organizers .bg .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 0%;
  mix-blend-mode: screen;
}
.organizers .bg .wave._01 {
  mix-blend-mode: screen;
}
.organizers .bg .wave img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30%;
}
.organizers .inner {
  position: relative;
  text-align: center;
}
.organizers .inner .title_icon {
  width: 40%;
  margin: 0 auto;
}
.organizers .inner .title {
  margin: 2em auto;
}
.organizers .inner .title h2 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.3;
  color: var(--green_dark);
}
.organizers .inner .content .logo_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 10%;
}
.organizers .inner .content .logo_list li {
  width: 40%;
}
@media all and (min-width: 769px) {
  .organizers {
    padding: 15% 0 7%;
  }
  .organizers .bg {
    width: 100%;
    height: 100%;
  }
  .organizers .bg .wave {
    width: 100%;
  }
  .organizers .inner .title_icon {
    width: 20%;
  }
  .organizers .inner .content .logo_list li {
    width: 15%;
  }
}